@model CourseWork.Models.Visit

@{
    ViewBag.Title = "Подробная информация";
}

<h2>Подробная информация</h2>

<div>
    <h4>Приём</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Animal.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HelperEmployee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HelperEmployee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("К общему списку", "Index")
</p>
