@model CourseWork.Models.Visit

@{
    ViewBag.Title = "FillVisit";
}

<h2>Добавление приёма: Заполните диагноз и назначение</h2>


@using (Html.BeginForm("ChooseProcedures", "AddVisit", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.Hidden("EmployeeID", ViewBag.EmployeeID as string)
    @Html.Hidden("HelperID", ViewBag.HelperID as string)
    @Html.Hidden("ClientID", ViewBag.ClientID as string)
    @Html.Hidden("AnimalID", ViewBag.AnimalID as string)
    @Html.Hidden("Date", ViewData["Date"] as string)
    <div class="form-group">
        @Html.LabelFor(model => model.Diagnosis, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Diagnosis, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Diagnosis, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Assignment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Assignment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Assignment, "", new { @class = "text-danger" })
        </div>
    </div>
    <input type="submit" value="Далее" class="btn btn-primary">
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
